.header {
  .navbar {
    display: block;
  }
  .header-main-menu {
    ul {
      float: right;
      padding: 2rem 5rem;
      li {
        margin: 0 1rem;
        a {
          font-size: 20px;
          font-weight: 700;
          color: $gray-800;
        }
      }
    }
  }
  .header-form {
    .header-site-search-content-wrapper {
      z-index: 2;
      height: 48px;
      width: 48px;
      background-color: $gray-100;
      margin: 6px 0;
      position: relative;
      &.open{
        .input-wrap{
          width: 800px;
          transition-delay: 0.25s;
          background-color: white;
          margin: 1.2rem 4rem;
        }

        button{
          transition-delay: 0.25s;
          background-color: transparent;
          svg{
            g{
              transition-delay: 0.2s;
              fill: $accent-shade;
              border: 1px solid $gray-800;
            }
          }
        }
        .search-trigger{
          transition-delay: 0.1s;
          opacity: 0;
          z-index: -1;
        }
      }
      button,
      .search-trigger{
        position: absolute;
        top: 0;
        right: 0;
        height: 58px;
        width: 58px;
        border-radius: 100%;
        text-align: center;
        padding: 10px;
        border: 0 none;
        box-shadow: none;
        outline: 0 none;
        cursor: pointer;
        z-index: 2;
        // transition: all 0.2s ease 0.3s;
        svg{
          g{
            transition-delay: 0.2s;
          }
        }
      }

      button{
        background-color: transparent;
        margin: 1.2rem 4rem;
        svg{
          g{
            fill: $accent-shade;
          }
        }
      }

      .search-trigger{
        transition: all 0.3s ease 0.48s;
        background-color: $gray-100;
        border: 1px solid $gray-800;
        margin: 1.2rem 4rem;
        svg{
          g{
            fill: $accent-shade;
          }
        }
      }

      .input-wrap{
        transition: width 0.2s ease 0.3s;
        height: 58px;
        width: 58px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 10px 20px;
        margin: 1.2rem 0;
        input[type]{
          width: 100%;
          height: calc(100% - 2px);
          background-color: transparent;
          border: 0 none;
          box-shadow: none;
          outline: 0 none;
          padding-right: 40px;
        }
      }

    }

  }
}